<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
      <add name="BSM_connectionString" connectionString="Data source=.\VANDUONG; Initial Catalog=BSM_CodeFirst_v2;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
      <add name="WindowsFormsApp.Properties.Settings.BSM_CodeFirst_v2ConnectionString" connectionString="Data Source=ACERNITRO5\VANDUONG;Initial Catalog=BSM_CodeFirst_v2;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <WindowsFormsApp.Properties.Settings>
        <setting name="UserName" serializeAs="String">
            <value/>
        </setting>
        <setting name="Password" serializeAs="String">
            <value/>
        </setting>
    </WindowsFormsApp.Properties.Settings>
  </userSettings>
</configuration>
